@media screen and (max-width:1600px){
    
  .navbar-expand-lg {
      width: 100%;
      padding: 0;
  }
  #navbar-brand {
      background-color: teal;
      width: 30%;
      color: white;
      margin-left: 32px;
      padding: 12px;
      font-size: 20px;
      text-align: center;
      font-family: serif;
      font-weight: 700;
  }

  .navbar-nav {
      margin-right: 10px;
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 30%;
      padding: 0px;
  }

  ul li {
      display: inline-block;
      padding:1.5%
  }
  section{
      background-color: lightgrey;
      padding: 3%;
      width: 100%;
      height: 700px;
  }
  header{
      color: teal;
      font-family: serif;
      font-size: 25px;
      font-weight: 600;
  }
  .contacts{
      background-color: white;
      width: 75%;
      padding: 5%;
      margin-left: 7px;
  }
  button{
      background-color: teal;
      color: white;
  }
  footer{
      background-color: dimgray;
      color: white;
      text-align: center;
      font-size: 15px;
      padding: 2.5%;
  }


@media screen and (max-width:1350px){
  
  .navbar-expand-lg {
      width: 100%;
      padding: 0;
  }
  #navbar-brand {
      background-color: teal;
      width: 30%;
      color: white;
      margin-left: 32px;
      padding: 12px;
      font-size: 20px;
      text-align: center;
      font-family: serif;
      font-weight: 700;
  }

  .navbar-nav {
      margin-right: 10px;
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 30%;
      padding: 0px;
  }

  ul li {
      display: inline-block;
      padding:1.5%
  }
  section{
      background-color: lightgrey;
      padding: 3%;
      width: 100%;
      height: 700px;
  }
  header{
      color: teal;
      font-family: serif;
      font-size: 25px;
      font-weight: 600;
  }
  .contacts{
      background-color: white;
      width: 75%;
      padding: 5%;
      margin-left: 7px;
  }
  button{
      background-color: teal;
      color: white;
  }
  footer{
      background-color: dimgray;
      color: white;
      text-align: center;
      font-size: 15px;
      padding: 2.5%;
  }


@media screen and (max-width:1200px){
  
  .navbar-expand-lg {
      width: 100%;
      padding: 0;
  }
  #navbar-brand {
      background-color: teal;
      width: 30%;
      color: white;
      margin-left: 32px;
      padding: 12px;
      font-size: 20px;
      text-align: center;
      font-family: serif;
      font-weight: 700;
  }

  .navbar-nav {
      margin-right: 10px;
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 30%;
      padding: 0px;
  }

  ul li {
      display: inline-block;
      padding:1.5%
  }
  section{
      background-color: lightgrey;
      padding: 3%;
      width: 100%;
      height: 700px;
  }
  header{
      color: teal;
      font-family: serif;
      font-size: 25px;
      font-weight: 600;
  }
  .contacts{
      background-color: white;
      width: 75%;
      padding: 5%;
      margin-left: 7px;
  }
  button{
      background-color: teal;
      color: white;
  }
  footer{
      background-color: dimgray;
      color: white;
      text-align: center;
      font-size: 15px;
      padding: 2.5%;
  }


@media screen and (max-width:980px){
  
  .navbar-expand-lg {
      width: 100%;
      padding: 0;
  }
  #navbar-brand {
      background-color: teal;
      width: 30%;
      color: white;
      margin-left: 32px;
      padding: 12px;
      font-size: 20px;
      text-align: center;
      font-family: serif;
      font-weight: 700;
  }

  .navbar-nav {
      margin-right: 10px;
      text-align: right;
      font-size: 12px;
      display: inline-block;
      width: 30%;
      padding: 0px;
  }

  ul li {
      display: inline-block;
      padding:1.5%
  }
  section{
      background-color: lightgrey;
      padding: 3%;
      width: 100%;
      height: 700px;
  }
  header{
      color: teal;
      font-family: serif;
      font-size: 25px;
      font-weight: 600;
  }
  .contacts{
      background-color: white;
      width: 75%;
      padding: 5%;
      margin-left: 7px;
  }
  button{
      background-color: teal;
      color: white;
  }
  footer{
      background-color: dimgray;
      color: white;
      text-align: center;
      font-size: 15px;
      padding: 2.5%;
  }

  @media screen and (max-width:768px){
  
      .navbar-expand-lg {
          width: 100%;
          padding: 0;
      }
      #navbar-brand {
          background-color: teal;
          width: 30%;
          color: white;
          margin-left: 20px;
          padding: 10px;
          font-size: 20px;
          text-align: center;
          
      }
  
      .navbar-nav {
          text-align: right;
          width: 50%;
          padding: 0px;
          
      }

  
      ul li {
          display: inline-block;
          padding:1.5%
      }
      section{
          background-color: lightgray;
          width: 100%;
          height: 800px;
          padding: 2.5%;
      }
      header{
         color: teal; 
      }
      .contacts{
          background-color: white;
          width: 100%;
          margin-left: 0px;
          margin-top: 12px;
          
          padding: 5%;

      }
      button{
          background-color: teal;
          color: white;
         

      }
  }
      @media screen and (max-width:640px){
  
          .navbar-expand-lg {
              width: 100%;
              padding: 0;
          }
          #navbar-brand {
              background-color: teal;
              width: 100%;
              color: white;
              margin: 0;
              padding: 15px;
              font-size: 25px;
              text-align: center;
          }
      
          .navbar-nav {
              text-align: center;
              display: inline-block;
              width: 100%;
              font-size: 13px;
          }
      
          ul li {
              display: inline-block;
              padding:1.0%
          }
          section{
              width: 100%;
              height: 800px;
              background-color: lightgray;
              padding: 3%;
          }
          header{
              font-size: 25px;
              font-weight: 600;
              color: teal;
              font-family: serif;
          }
          .contacts{
              background-color: white;
              width: 100%;
              padding: 5%;
          }
          
          footer{
              background-color: dimgrey;
              color: white;
              font-size: 10px;
              text-align: center;
              padding: 15px;
          }
          .textarea{
              height: 500px;
          }
          button{
              background-color: teal;
              color: white;
          }
      }